{% extends "base.html" %}
{% block content %}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h3 class="mt-4">Schedule</h3>
            <div class="m-2">
                <div class="border border-primary rounded bg-light">
                    <form method="POST" class=" border rounded m-2" id="mainform" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                            <div class="m-1" id="">
                                <div id="">
                                    <div class="m-3 h2">Schedule Ticker: <span class="text-danger">235</span></div>
                                    <div class="row m-3">
                                        
                                        <div class="col-md-4">
                                            <label>Wings</label>
                                            <select name="wingselection" multiple id="wingselection" class="form-select mb-3 mb-md-0 p-3 selectpicker" aria-label="Default select example">
                                                {% for items in wings %}
                                                <option value="{{items}}">{{items}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Floor</label>
                                            <select name="floorselection" multiple id="floorselection" class="form-select mb-3 mb-md-0 p-3 selectpicker" aria-label="Default select example">
                                                {% for items in floor %}
                                                <option>{{items}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Rooms</label>
                                            <select name="roomselection" multiple id="roomselection" class="form-select mb-3 mb-md-0 p-3 selectpicker" aria-label="Default select example">
                                                {% for items in rooms %}
                                                <option value="{{items}}">{{items}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row m-3">
                                        <div class="col-md-4">
                                            <div class="form-check form-switch mb-3">
                                                <input name="scheduleenabler" class="form-check-input" type="checkbox" value="" id="scheduleenabler" onclick=schedulebuttonenabler(this.id)>
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Schedule now 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-3" id="occurancysection">
                                        <div class="col-md-2"> 
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="occurancy" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    One-Time
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="occurancy" id="flexRadioDefault2" checked>
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Recurring
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-3" id="datatimesection">
                                        <div class="col-md-4">
                                            <label>Start Date | Time</label>
                                            <div class="form-group form-floating">
                                                <input type="datetime-local" class="form-control" id="startDate" name="startDate" placeholder="Enter Date">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>End Date | Time</label>
                                            <div class="form-group form-floating">
                                                <input type="datetime-local" class="form-control" id="endDate" name="endDate" placeholder="Enter Date">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Display Frequency | Display in Every</label>
                                            <select name="delay" id="" onchange=foeventEnabler(this.id) class="form-select mb-3 mb-md-0 p-3" aria-label="Default select example">
                                                {% for items in frequency %}
                                                <option>{{items}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        {% comment %} <div>
                                            {% for items in days %}
                                                <input name="" class="form-check-input" type="checkbox">
                                                <div>{{items}}</div>
                                            {% endfor %}
                                        </div> {% endcomment %}

                                        <div class="form-group mt-4" id="">
                                            <div class="form-group">
                                                <input type="submit" class="border rounded btn-primary p-3 btn-lg btn-block" id="" value="Schedule" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}